.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    border: 1px solid black;
}
.Nav-container{
    display: flex;
    flex-direction: column;

}
.Nav-hammer{
    width: 48px;
    height: 48px;
}
.nav-favorites{
    font-weight: 800;
    font-family: monospace;
    cursor: pointer;
}
.Nav-title{
    margin: 0 auto;
}
.Home{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
    max-width: 100vw;
    height: 100vh;
}
.Home-container,
.Character-container,
.Favorites-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
}
.Character-container{
   width: 100vw;
   height: auto;
}

.Home-container_image,
.Character-container_image,
.Favorites-container_image{
    width: 90%;
    height: 70%;
    margin: 0 auto;
    cursor: pointer;
}
.Character-container_image{
  max-width: 450px;
  max-height: 400px;
}
.Home-container_star{
    position: relative;
    bottom: 243px;
    right: -249px;
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.Home-container_star:hover{
    transform: scale(0.8);
}
.Character-container_back,
.Favorites-container_back{
    position: relative;
    bottom: 0;
    width: 48px;
    height: 48px;
    right:calc(-80%);
    cursor: pointer;
   
}
.Character-container_back::after,
.Favorites-container_back::after{
    content: 'Back';
}
.Home-container_name,
.Character-container_name,
.Favorites-container_name{
    margin: 10px auto;
}
.Character-container_name,
.Character-container_description,
.Character-container_comicsContent{
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
}

.Character-container_comicsContent{
    color: black;
    font-weight: 600;
}
.Character-container_comics{
    color: red;
    font-weight: bold;
}